<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- Only uncomment this on dev/test machines -->
  <!--<system.diagnostics>
    <switches>
      <add name="System.Net" value="Warning" />
      <add name="System.Net.Sockets" value="Warning" />
      <add name="System.Net.Http" value="Warning" />
      <add name="System.Net.Cache" value="Warning" />
    </switches>
  </system.diagnostics>-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <include file="cmwsrv-nlog-*.config" ignoreErrors="true" />
    <variable name="xcptLayout" value="${onexception:inner=${newline}${exception:format=ToString}" />
    <variable name="levelFc" value="${level:format=FirstCharacter}" />
    <variable name="shortLogger" value="${logger:shortName=true}" />
    <variable name="threadLayout" value="${pad:padding=2:padCharacter=0:inner=${threadid}}" />
    <variable name="propsLayout" value="${all-event-properties}" />
    <variable name="appLayout" value="${time} ${levelFc} [${threadLayout}]: ${shortLogger} ${message}${propsLayout}${xcptLayout}}" />
    <variable name="sysLayout" value="${time} ${levelFc} [${threadLayout}]: ${pad:padding=-4:fixedLength=true:inner=${shortLogger}} ${message}" />
    <variable name="evtLayout" value="${time} ${message}${propsLayout}${xcptLayout}}" />
    <variable name="commonLogs" value="${specialfolder:folder=CommonApplicationData}\${gdc:item=product}\system\logs" />
    <variable name="fx" value="${commonLogs}\hsssvc.${shortdate}.log" />
    <variable name="fx-events" value="${commonLogs}\hsssvc.events.${shortdate}.log" />
    <variable name="fx-nc" value="${commonLogs}\hsssvc.notificationchannel.${shortdate}.log" />
    <variable name="maxFileSize" value="209715200" />
    <targets async="true">
      <target name="app" xsi:type="SplitGroup">
        <target xsi:type="ColoredConsole" layout="${appLayout}" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true" />
        <target xsi:type="File" encoding="utf-8" layout="S${appLayout}" fileName="${fx}" maxArchiveFiles="1" archiveAboveSize="${maxFileSize}" archiveEvery="Day" concurrentWrites="true" />
      </target>
      <target name="sys" xsi:type="SplitGroup">
        <target xsi:type="ColoredConsole" layout="${sysLayout}" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true" />
        <target xsi:type="File" encoding="utf-8" layout="S${sysLayout}" fileName="${fx}" maxArchiveFiles="1" archiveAboveSize="${maxFileSize}" archiveEvery="Day" concurrentWrites="true" />
      </target>
      <target name="events" xsi:type="SplitGroup">
        <target xsi:type="ColoredConsole" layout="${evtLayout}" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true" />
        <target xsi:type="File" encoding="utf-8" layout="${evtLayout}" fileName="${fx-events}" maxArchiveFiles="1" archiveAboveSize="${maxFileSize}" archiveEvery="Day" concurrentWrites="false" keepFileOpen="true" />
      </target>
      <target name="appnc" xsi:type="SplitGroup">
        <target xsi:type="ColoredConsole" layout="${appLayout}" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true" />
        <target xsi:type="File" encoding="utf-8" layout="S${appLayout}" fileName="${fx-nc}" maxArchiveFiles="1" archiveAboveSize="${maxFileSize}" archiveEvery="Day" concurrentWrites="true" />
      </target>
    </targets>
    <rules>
      <logger name="*.NotificationChannel.*" level="Off" writeTo="appnc" final="false" />
      <logger name="Foundation.Common.Tracking.Distribution.*" level="Off" writeTo="events" final="false" />
      <logger name="*.GprEventTracker" level="Off" writeTo="events" final="false" />
      <logger name="Foundation.Analytics.GA.PropertyTracker" level="Off" writeTo="events" final="false" />
      <logger name="System.*" minlevel="Warn" writeTo="sys" final="true" />
      <logger name="Hss.*" minlevel="Warn" writeTo="app" final="true" />
      <logger name="Foundation.*" minlevel="Warn" writeTo="app" final="true" />
      <logger name="*" minlevel="Warn" writeTo="app" final="true" />
    </rules>
  </nlog>
</configuration>