<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <include file="hsscp-nlog-*.config" ignoreErrors="true" />
    <variable name="xcptLayout" value="${onexception:inner=${newline}${exception:format=ToString}" />
    <variable name="appLayout" value="${time} ${level:format=FirstCharacter} [${pad:padding=2:padCharacter=0:inner=${threadid}}]: ${logger:shortName=true} ${message}${all-event-properties}${xcptLayout}" />
    <variable name="fx" value="${specialfolder:folder=CommonApplicationData}\${gdc:item=product}\user\logs\hsscp.${shortdate}.log" />
    <variable name="maxFileSize" value="209715200" />
    <targets async="true">
      <target name="app" xsi:type="File" encoding="utf-8" layout="C${appLayout}" fileName="${fx}" maxArchiveFiles="1" archiveAboveSize="${maxFileSize}" archiveEvery="Day" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="System.*" minlevel="Error" writeTo="app" final="true" />
      <logger name="Hss.Client.*" minlevel="Info" writeTo="app" final="true" />
      <logger name="Hss.*" minlevel="Error" writeTo="app" final="true" />
      <logger name="Foundation.*" minlevel="Warn" writeTo="app" final="true" />
    </rules>
  </nlog>
</configuration>